@media screen and (max-width:850px) {
    .top{
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    .blog_1{width: 100%;}
    }
    @media screen and (max-width:824px) {

    .blog_2{width: 40%;}
    }
    @media screen and (max-width:642px) {

.blog_2{width: 80%;}
}